body{
  margin: 0;
}
.App-header{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: rgb(30, 96, 226);
  position: fixed;
  top: 0;
}
.main-page a{
  padding: 7px 20px;
  
}
.jobs h1{
  text-align: center;
}
.App-header h2{
  display: inline;
  color: rgb(252, 249, 249);
}
.App-header ul li{
  display: inline;
  flex-wrap: wrap;
  text-decoration: none;
  list-style: none;
}
.main-page a{
  color: white;
  font-size: 20px;
  text-decoration: none;
  /* margin-right: 17px; */
}
a:hover, a:focus{
  background-color: cornflowerblue;
  background-color: cover;
  color: white;
  border-radius: 25px;
}
a:active{
  background-color:rgb(67, 40, 176)erblue;
}
.home-content{
  font-size: 20px;
}
img {
  padding: 0px 25% 10px 25%;
  width: 50%;
}
h3, div li   {
  padding: 10px 20px;
  font-size: 18px;
}
p {
  padding-left: 50px;
  font-size: 18px;
  line-height: 25px;
}
.progrm-content h1{
  padding-top: 20px;
}

@media only screen and (min-width: 750px) {
  body{
    background-color: rgb(228, 222, 230);
  }
  .home-content, .programming, .jobs {
    background-color: rgb(238, 239, 240);
    border-radius: 30px;
    margin: 10% 10% 5%;     
    padding: 50px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5)
  }
}
@media only screen and (max-width: 750px) {
  .home-content, .programming, .jobs{
    padding: 250px 20px 20px;
  }
  .App-header ul li{
  display: block;
  }
  img {
    padding: 0px 25% 0px 25%;
  }
}


